.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0em;
    margin-bottom: 0em;
    background-color: rgb(180, 180, 180);
    color: rgba(255,19,68,255);
}
